@using HospitalManagementSystem.Core.DTO
@model LoginDTO
@{
    // ViewBag.Title = "Login";
    // ViewBag.CurrentUrl = "~/User/Login";
    Layout = "";

}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<div class="container">
    <div class="brand-logo"></div>
    <div class="brand-title">LOGIN</div>
    <div class="inputs">
        <label>EMAIL</label>
        <input type="email" placeholder="example@test.com" />
        <label>PASSWORD</label>
        <div class="password-container">
            <input id="password" type="password" placeholder="Min 6 characters long" />
            <i id="togglePassword" class="fas fa-eye"></i>
        </div>
        <button type="submit">LOGIN</button>
        <a href="#">Forgot password?</a>
    </div>
</div>
<script>
    document.getElementById("togglePassword").addEventListener("click", function () {
        const passwordField = document.getElementById("password");
        const isPassword = passwordField.type === "password";

        // Đổi type của input
        passwordField.type = isPassword ? "text" : "password";

        // Đổi biểu tượng con mắt
        this.classList.toggle("fa-eye");
        this.classList.toggle("fa-eye-slash");
    });
</script>
