<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true">
</head>
<body>
    <div class="background">
        <div class="login-container">
            <a asp-controller="Home" asp-action="Index" class="login-btn">Đăng Nhập</a>
        </div>
    </div>
</body>
</html>
